rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    match /rooms/{roomId} {
      allow create: if isSignedIn() && request.resource.data.hostUid == request.auth.uid;
      allow read, update, delete: if isSignedIn();

      match /{document=**} {
        allow read, write: if isSignedIn();
      }
    }
  }
}
